
@{
    ViewData["Title"] = "Confirmation";
}

<div class="text-center" style="margin-top:100px;">
    Thank You, we have recieved your booking request and payment.
    <br/><br/>
    You will recieve all the booking details via email soon, You can contact us at 9490 229 308 for more details.
</div>

