@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h3 style="text-align:center;margin-top:100px;">Sorry some error occured, while processing you request.</h3>

<h3 style="text-align:center;margin-top:50px;">Error : @Model.Message</h3>